/* RESET */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1,h4 {
  font-family: 'Noto Serif', serif;
  font-size: 30px;
  padding: 20px 0;
  color: white;
  background-color: #2d3436;
  width: 100%;
  text-align: center;
}

/* FLEX */
.flex-center {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* STYLING FOR MAIN PAGE NAVBAR TO BE FIXED ON EVERY PAGE */
.Navbar {
 position: fixed;
 width: 100%;
 z-index: 1000;
}

/* STYLING FOR TOP NAVBAR  */
.navbar-center {
  background: rgba(45,45,45,0.98);
  color: #FFFFFF;
  padding: 2px 10px;
  font-size: 20px;
}
.navbar-center button  {
  border: none;
  background: rgba(45,45,45,0.98);
  margin: 15px;
  font-size: 25px;
  color: #FFFFFF;
  border-top: 0px;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.navbar-center button:hover {
  border-bottom: 2px solid #FFFFFF;
}

/* STYLING FOR SEARCH BOX IN MAIN PAGE */

.search-box {
  padding-left: 100px;
  line-height: 65px;
}

.search-box:hover  > .search-txt {
  background: rgba(45,45,45,0.98);
  width: 240px;
  padding: 5px 2px;
  border-radius: 50px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  line-height: 40px;
  font-size: 16px;
  transition: 0.4s;
  width: 0px;
}

/* STYLING FOR SEARCH BOX DROPDOWN */

.states-dropdown {
  overflow: scroll;
  height: 0px;
  width: 300px;
  position: absolute;
  background-color: rgba(45,45,45,0.98);
  cursor: pointer;
}

/* STYLING FOR MAIN PAGE HEADING */

.main-page-title {
  padding: 80px;
  font-size: 36px;
  /* background-color: blue; */
}

/* STYLING FOR MAIN PAGE TILE */
.main-page-4-tile img {
  width: 500px;
  height: 294px;
  padding: 10px 30px;
}

.fas.fa-envelope-square::before,.fa-twitter-square:before {
  text-decoration: none;
  color : #17202A;
  font-size: 50px;
  padding: 0px 10px;
}

/* STYLING FOR NORTH-EAST PAGE,MID-WEST PAGE,SOUTH PAGE,WEST PAGE */

.states-box img {
  width: 300px;
  height: 300px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.states-box h2 {
  text-align: center;
  font-size: 20px;
}

.states-box h2:hover {
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 700px;
  height: 200px;
  background-color: #fff;
  position: relative;
}

.close {
  position: absolute;
  font-size: 30px;
  right: 0;
  top: 0;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* STYLING FOR GALLERY PAGE */

.Gallery {
  padding: 50px 0px;
}

.Gallery-container {
  width: 60%;
  margin: 0 auto;
}

.slick-arrow:before {
  color: lightgrey;
}

.slick-dots {
  bottom: -50px;
}

.Gallery-title h1{
  font-size: 30px;
  padding: 20px 0;
  color: white;
}

.Gallery-title.box {
  background-color: #2d3436;
}
.Gallery-images,.tile-1 {
  position: relative;
  width: 100%;
}

.Gallery-images h4 {
  text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.Gallery-images:hover,.tile-1:hover .image {
  opacity: 0.3;
}

.Gallery-images:hover .middle {
  opacity: 1;
}

.text {
  background-color: grey;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.Gallery-contact-form form-footer {
  background-color: blue;
  padding-bottom: 10px;
}

.Gallery-copyrights-text h4 {
  background: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  color: #FFFFFF;
  align-items: center;
  text-decoration: none;
}

/* CODING FOR MOBILE AND TABLET SIZES */

/* NAVBAR FOR HAMBURGER MENU */
.navbar-hamburger-menubar {
  display: none;
}

.navbar-hamburger-menubar a {
  color: black;
  text-decoration: none;
  padding: 20px;
}

/* SLICK STYLING */
.slick-prev:before, .slick-next:before {
  color: #000;
}


/* MOBILE */
@media screen and (max-width: 600px) {
  /* hide desltop nav*/
  .navbar-desktop-menubar {
    display: none;
  }

  .navbar-hamburger-menubar {
    display: flex;
    flex-direction: column;
  }
  .navbar-hamburger-menubar i {
    padding: 20px 0px;
    margin: 0 auto;
  }
  .navbar-hamburger-menubar > .navbar-links {
    text-align: center;
  }

  .navbar-mobile-menu {
    display: flex;
    flex-direction: column;
  }

  .Navbar-links {
    display: flex;
    flex-direction: column;
  }

}
